<h1>{{title}} - Please Log In</h1>
<p>Welcome to {{title}}</p>
<p>You need to log in to see all the cool stuff!</p>
<p><a href="/auth/loginform">Login</a></p>
<p><br /></p>
<p><a href="/test.html"> <b>Private</b> Static page that has a couple javascript includes</a> To test the server proccess when laoding multiple files at once</p>
<p><a href="/publictest.html"> <b>Public</b> Static page that has a couple javascript includes</a> To test the server proccess when laoding multiple files at once</p>
