<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>
    Login Status: Logged in as <b>{{userName}} - {{email}}</b>
    <br />Logged in with {{loginMethod}}
    <br /><a href="/auth/logout">Log Out</a>
</p>
<br />
<p><a href="/auth/">Auth Test</a> A backend route/page that shows who's logged in, how they are logged in and some api test links</p>
<br />
<p><a href="/protected/"> Protected Route Test</a> A backend route that should only work if the user is logged in, otherwise, it will get an error</p>
<p><a href="/logintest.html"> Static page in public folder Test</a> A static frontend page (If you are not logged in... then you will be redirected back to this home page)</p>
<p><a href="/test.html"> <b>Private</b> Static page that has a couple javascript includes</a> To test the server proccess when laoding multiple files at once</p>
<p><a href="/publictest.html"> <b>Public</b> Static page that has a couple javascript includes</a> To test the server proccess when laoding multiple files at once</p>
<!--<p>
    <br />
    RESTRICT_ALL_IF_NOT_LOGGED_IN = {{restrictAll}}
    <br />

</p>-->
