<h1>{{title}}</h1>
<form action="/auth/locallogin" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username" />
        <br />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
<p>
    The local login option (username and password) has 2 dummy accounts:
    <ul>
        <li>username: test, password: test</li>
        <li>username: xxx, password: xxx</li>
    </ul>
    You can log in with either of those or use any Facebook or Azure (Microsoft) account to log in.
</p>

<br /><br />
<a href="/auth/azureopenidlogin">Login with Azure OpenID</a>
<br /><br />
<a href="/auth/fblogin">Login with Facebook</a>
<br /><br />
<a href="/auth/googlelogin">Login with Google</a>
<br /><br />
<a href="/">Home</a>
<br />
